@import '~node_modules/modern-normalize/modern-normalize.css';

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}
body {
  background-color: azure;
  padding: 30px;
  text-align: center;
}

img{
  display: block;
}
